<% provide(:title, 'Help') %>
	<h1>Help</h1>
		<p>This is help page for Ruby on Rails Tutorial</p>
		<p>To get help on Ruby on Rails at the <a href="http://railstutorial.org/help">Rails Tutorial help page</a></p>
		<p>To get help sample app, see at <a href="http://railstutorial.org/book">Rails Tutorial book</a></p>
